<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="rhubarb-geek-nz/RegistrationServices ($(env.PRODUCTARCH))" Language="1033" Version="$(env.PRODUCTVERSION)" Manufacturer="rhubarb-geek-nz" UpgradeCode="$(env.UPGRADECODE)">
    <Package InstallerVersion="$(env.INSTALLERVERSION)" Compressed="yes" InstallScope="perMachine" Platform="$(env.PRODUCTARCH)" Description="Dual-Interface Hello World Component" Comments="https://github.com/rhubarb-geek-nz/RegistrationServices" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{$(env.UPGRADECODE)}">
      <UpgradeVersion Maximum="$(env.PRODUCTVERSION)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(env.PRODUCTPROGFILES)">
        <Directory Id="COMPANYDIR" Name="rhubarb-geek-nz">
          <Directory Id="INSTALLDIR" Name="RegistrationServices">
            <Directory Id="INSTALLDIRBIN" Name="$(env.PRODUCTARCH)" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="cmp49644F99A8DC013BD2FA39270E26C76C" Guid="*" Directory="INSTALLDIRBIN" Win64="$(env.PRODUCTWIN64)">
        <File Id="fil206829A74DFF7880F64BE9D5C35CFF80" KeyPath="yes" Source="..\dispsvr\bin\Release\net481\win-$(env.PRODUCTARCH)\publish\RhubarbGeekNz.RegistrationServices.Server.exe" />
        <RegistryValue Id="reg852b816e97fc40558f6085a82a262f7e" Root="HKCR" Key="CLSID\{D8DFBD42-569C-47C1-9523-9369E67371D1}\LocalServer32" Value="[!fil206829A74DFF7880F64BE9D5C35CFF80]" Type="string" Action="write" />
        <RegistryValue Id="regc20ac5fc9e314d5cbf17c7fa18fd6e08" Root="HKCR" Key="RhubarbGeekNz.RegistrationServices\CLSID" Value="{D8DFBD42-569C-47C1-9523-9369E67371D1}" Type="string" Action="write" />
      </Component>
      <Component Id="cmp49644F99A8DC013BD2FA39270E26C76D" Guid="*" Directory="INSTALLDIRBIN" Win64="$(env.PRODUCTWIN64)">
        <File Id="fil206829A74DFF7880F64BE9D5C35CFF81" KeyPath="yes" Source="..\dispsvr\bin\Release\net481\win-$(env.PRODUCTARCH)\publish\RhubarbGeekNz.RegistrationServices.dll" />
      </Component>
      <Component Id="cmpC5599C4E7A1D7E5F3EC4BC0D274676CD" Guid="*" Directory="INSTALLDIR" Win64="$(env.PRODUCTWIN64)">
        <File Id="fil7BDAEB5BACE2AD371A3F5B3D7BCCF7D8" KeyPath="yes" Source="..\disptlb\RhubarbGeekNz.RegistrationServices.tlb">
          <TypeLib Id="{25ABA843-ADF2-4A08-BF3C-C975FA75FC7C}" Description="RegistrationServices Hello World Component 1.0 Type Library" HelpDirectory="INSTALLDIR" Language="0" MajorVersion="1" MinorVersion="0">
            <Interface Id="{913E9EE6-1BB1-45BC-9C53-6010D1C33FE5}" Name="IHelloWorld" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
          </TypeLib>
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
